language: rust
rust:
  - 1.33.0  # pinned stable Rust release
  - stable
  #- beta
  #- nightly
os:
  - linux
  - osx
branches:
  only:
    - master
    - /^v[0-9]/  # tag
cache: cargo

# before_script:
#   - ./ci/before_script.sh
script:
  - ./ci/script.sh

jobs:
  include:
    - stage: Only in a representative env
      rust: stable
      os: linux

      # gnuplot for Criterion HTML Report
      addons:
        apt:
          packages:
            - gnuplot-nox

      script:
        - cargo doc
        - cargo bench --all
        ## Move criterion's HTML report into doc/ dir in order to be uploaded in github.io
        - rm -rf target/doc/criterion && mv target/criterion target/doc/

      deploy:
        # GitHub Pages
        - provider: pages
          skip_cleanup: true
          github_token: "$GITHUB_TOKEN"
          local_dir: target/doc
          on:
            branch: master
        # crates.io
        - provider: cargo
          token:
            secure: ropU3n6/KkmaNSjjqAW+Do3z3x9HGienPrH14tzB+h6PqTnu9VZNe4vBNbSixOl9U/x3yCC3j8b8hhLVYiqJt5ADmAH/QeCaLHMos/3q653unhqunttw/MoZkCXMdNqxHw8ZEvBAMOQrCi6Vp67G950b91Ouv7/GQgfjOSXK/7vcdbPwzAaXRA6VaUmUdhpqm+YOgFf2rdCSZEZeE6pE2FU7AK007VOOxQzHhMBQ9bPAnbEFnIqlHQUa7rQe9cbESLFCEND4PqywG5RPtUUcQevFyNjXDJjUDm1jMBAp/BxQXYyv764WMkz1RyT9/FEY5FOfYGNMkF/qXlvTT2N8krq3auP2+tOb9JWHWZ1mKTJfLXMdZaIJ0ehss72dluMKPp+kq9aMAHC4mpGXM3TT12IGMoNRwmlxI2ykWLGFjaqNq73iUPEIZeLU/eqcmN/YgNJQ8PrmgbBoFgiMxSXQANOctYwtauWFGGFhEufXDBH9alv0QUFNW1+q5M0sC9mrHWaqiaJinxPscy+KkckLGxszGuV2uTkVNuOPFTnkO1V4Grdc5l2hky9q/vFOxiUGHHkG0tl8NyNIcrwM767CvlfXQGr2rLn/MLsaTZUzpjOMcoAWcN3jCrHFxgxfPH4FsIhvqPRt7PyWGooPn3x6U7/Z6dzR/ehiVmI8cRXYoN0=
          on:
            tags: true

env:
  global:
    secure: R96BQcuzhTALH8I0HeP6ZhIsCpAc6X4vr9jmM7euIq7s0ztueZqx2Gorycpi9zfFsLPWvDOU3HNEiL7TRROsPWouOEfS+Sn52KISmYRSamv+wwoIe3c/SBxxLXFudWjxI9qGnXbsIZCWObQvvMGQ7a5yi+uRyrqn45Jgj0oXCvhLowo09CDz56PBud967J2BkU3JF+FV82QYFn/82fu5WfDRSxX3Br2owGyU0DyZ4KZTJ+JFmiVSehpOkzVY0sxCtFvGVNFLJEH0xvj5ARWiRofLz1riJYM4yG9q4XBYxUgeJRLJ8OKnusxySncRi1+GFppusX7EScjMRiHVLM3X0s5roalVC7vToYhaWHv2WH//R60nH5txsQtFZirkbAbZuPqTgsT/KPn1xNMNj7dhaD/T3xCOUXn0nAy61ufVlOUFfkPnAhbU4vm3Pjs5xGCpaOQAgr/qnaAR1BcHRarMjwzI1VCqOVjP3M9yYNR/fo6Zfm/ExhOTLSYxiN4XzrEQO3vvcjc1x/ex1V1n2Th4qwV6tvU7GMcyoDHqFxgVI5NW0hUmuDEpgS1dIvaTgrhUq2Mt9vz+BX5P7VbxyJ9Cmervf2BjKbzUVNNvYnswzU/N5GMX8FWe33jf9RyOMRkHlvEiw1ssC+BM+E+CJoX4vZ/AE3ek3C/sA2RaGiA2TOE=
